@model IEnumerable<CadeMeuMedico.Models.Cidades>

@{
    ViewBag.Title = "Cidades";
}

<h2>Lista de Cidades</h2>
<p>
    @Html.ActionLink("+ Novo", "CidadesAdd", null, new { @class = "btn btn-info" })
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.OrderBy(x => x.Nome))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "CidadesEdit", new { id = item.IDCidade }, new { @class = "btn btn-sm btn-default btn-editar" })
                @Html.ActionLink("Detalhes", "Details", new { /* id=item.IDMedico */ }, new { @class = "btn btn-sm btn-default btn-detalhar", @disabled = "disabled" })
                @Html.ActionLink("Apagar", "CidadesDelet", new { id = item.IDCidade }, new { @class = "btn btn-sm btn-default btn-apagar" })
            </td>
        </tr>
    }

</table>


