@{
    ViewBag.Title = "LayoutMobile";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Cade meu medico? - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
</head>
<body>
    <h2>Layout Mobile</h2>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Cadê meu médico?</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="../">Início</a></li>
                    <li id="menuMedicos">
                        @Html.ActionLink("Médicos", "Index", "Medicos")
                    </li>
                    <li id="menuMedicos">
                        @Html.ActionLink("Cidades", "Index", "Cidades")
                    </li>
                    <li id="menuMedicos">
                        @Html.ActionLink("Especialidades", "Index", "Especialidades")
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"> </script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"> </script>
    <script src="@Url.Content("~/Scripts/geral.js")"> </script>
    <script src="@Url.Content("~/Scripts/Validacao/validade.js")"> </script>

    @section Scripts {
        @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    }

    @RenderSection("script", required: false)
</body>
</html>


